<div class= "center jumbotron">
	<h1>Log in </h1>

	<%= form_for(:session, url: login_path) do |f| %>
	<table align = "center" style = "padding: 15px">
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
	</table>
		<%= f.submit "Log in"%>
	<% end %>

	<p>New user? <%= link_to "Sign up now!", :controller => 'users', :action => 'new' %> </p>
</div>

