<br>
<div class= "center jumbotron">
	<h1>Sign up</h1>			 
	<%= form_for(@user) do |f| %>
	<table align = "center" style = "padding: 15px">
		<tr>
			<td><%= f.label :name, "Name(*)" %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :email, "Email(*)" %></td>
			<td><%= f.email_field :email %></td>
		</tr>	
		<tr>
			<td><%= f.label :password, "Password(*)" %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Password Confirmation"  %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<br>
	</table>
	<%= f.submit "Create my account" %>
	<% end %>
</div>
