<div class = "page-header">
	<small> Fun Fact: <%= @fact %></small>
</div>
<div class="row" >
	   <div class="col-md-10">
			<div class= "jumbotron">
					<p>Hello <%= @user.name%> </p>
					<%= gravatar_for @user%>
					<p>Add Book to My List </p>
					<%= form_for(@read) do |f| %>
					<%= f.collection_select :book_id, Book.order(:id),:id, :toString , include_blank: false %>
					<%= f.submit "Add Book:" %>
					<% end %>
				</p>
				<p> Books you have read: </p>
				<table class="table table-bordered">
					<tr>
						<td> Title: </td>
						<td> Author: </td>
						<td> ISBN: </td>
					</tr>
					<% @books.each do |f|%>
					<tr>
						<td><%= Book.find_by_id(f.book_id).title %> </td>
						<td><%= Book.find_by_id(f.book_id).authorFirst + " " + Book.find_by_id(f.book_id).authorLast %> </td>
						<td><%= Book.find_by_id(f.book_id).isbn %> </td>
					</tr>	
					<% end %>
				</table>
			</div>
		</div>
		<div class="col-md-2">
	   		<div id = "stats">
	   			<br> <br>
	   			<% for i in 0..3 %>
	   			<% numUser %>
	   			<%= @statSentence %> <br><br>
	   			<%= @stat %> <br> <br>
	   			<%end%>
	       	</div>
	    </div>
</div>