<br>
<div class= "center jumbotron">
	<h1>Add Book to Database</h1>			 
	<%= form_for(@book) do |f| %>
	<table align = "center" style = "padding: 15px">
		
		<tr>
			<td><%= f.label :authorFirst, "Author First Name (*)" %></td>
			<td><%= f.text_field :authorFirst %></td>
		</tr>
		<tr>
			<td><%= f.label :authorLast, "Author Last Name (*)"  %></td>
			<td><%= f.text_field :authorLast %></td>
		</tr>
		<tr>
			<td><%= f.label :title, "Title (*)"  %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><%= f.label :year, "Year (*)" %></td>
			<td><%= f.text_field :year %></td>
		</tr>
		<tr>
			<td><%= f.label :isbn,"ISBN (*)" %></td>
			<td><%= f.text_field :isbn %></td>
		</tr>
		<tr>
			<td><%= f.label :bookType "Book Type" %></td>
			<td><%= f.text_field :bookType %></td>
		</tr>
		<tr>
			<td><%= f.label :genre, "Genre" %></td>
			<td><%= f.text_field :genre %></td>
		</tr>
	</table>
	<p> Fields with (*) are required.<p>
	<%= f.submit "Add Book" %>
	<% end %>
</div>
