<br>
<div class = "center jumbotron"> 
	<small> <%=  link_to "Cannot find your book? Add it to our list!", addDatabase_path, class: "btn btn-sm btn-primary" %> </small>
	<h1> List of Books </h1>
	<table class="table table-bordered">
		<tr> 
			<td>#</td> 
			<td>Author:</td> 
			<td>Title:</td> 
			<td>Genre:</td> 
			<td>Medium:</td> 
			<td>ISBN:</td> 
		</tr>
		<% @books.each do |f|%>
		<tr> 
			<td> <%= f.id %>
			<td> <%= f.authorFirst + " " + f.authorLast %> </td>
			<td> <%= f.title %> </td>
			<td> <%= f.genre %> </td>
			<td> <%= f.bookType %> </td>
			<td> <%= f.isbn %> </td>
		</tr>
			<% end %>
	</table>
</div>