<!DOCTYPE html>
<html>
<head>
  <title>WorksheetX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!- - [if lt IE 9]>
    <script src=”//cdnj.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js”>
    </script>
  <! [endif] -->

</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
	   <%= link_to "Sample app",  root_path, id: "logo" %>
	    <nav>
	       <ul class = "nav navbar-nav navbar-right">
	          <li><%= link_to "Home", root_path %></li>
	          <li><%= link_to "Help", help_path %></li>
	          <li><%= link_to "Log in", '#' %></li>
	      </ul>
	   </nav>
	  </div>
	</header>
	<div class = "container">
	     <%= yield %>
	 </div>
	<footer class="footer">
	    <small>
	    Reference:<a href=http://www.railstutorial.org/>The Ruby on Rails Tutorial </a>
	   </small>
	   <nav>
	     <ul>
	       <li><%= link_to "About", about_path %></li>
	       <li><%= link_to "Contact", contact_path %></li>
	     </ul>
	   </nav>
	  </footer>
	</body>
</html>
